/* for all */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

section:not(.banner_sec, .careers) {
    padding: 1rem;
}

ul {
    list-style-type: none;
}

.btn_1 {
    color: #ffffff;
    padding: 10px 20px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    border: 0px;
    font-size: 1rem;
    font-weight: 520;
    text-transform: uppercase;
}

.btn_2 {
    color: #ffffff;
    padding: 10px 20px;
    background: #4EC5F7;
    border-radius: 48px;
    border: 0px;
    font-size: 1rem;
    font-weight: 520;
    text-transform: uppercase;
}

.gradient-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section_head {
    font-size: 2.5rem;
    margin: .5rem 0;
    font-weight: 600;
}

.section_description_content,
.s_d_c {
    font-size: 1rem;
    line-height: 1.3rem;
    color: #534C64;
    margin: .5rem 0;
}

/* header section */
/*
_____________________
     nav section
_____________________
*/

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.logo_name {
    font-weight: 700;
    font-size: 2.9rem;
    margin: 0 .7rem;
}

.logo_name_G {
    color: #FF42A5;
}

.links>ul li:nth-child(1),
.links>ul li:nth-child(2) {
    cursor: pointer;
}

.links>ul li {
    margin: 0 .5rem;
}

.links>ul {
    list-style-type: none;
}

.follow_link {
    background: rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: .3rem;
}

.follow_link_description {
    margin: .5rem;
}

.follow_link_icon img {
    width: 20px;
    margin: .3rem;
    cursor: pointer;
}

/* main section */
/*
_____________________
    banner section 
_____________________
*/
.banner {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}

.banner_description_container {
    width: 55%;
}

.banner_img {
    width: 45%;
}

.banner_description_container {
    background-image: url('../images/Group\ 14.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.banner_description {
    flex-direction: column;
    align-items: flex-start;
}

.b_d_head div:nth-child(1) {
    color: #0B0223;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 0 .5rem;
}

.b_d_head div:nth-child(2) {
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.b_d_content>ul li {
    display: flex;
    align-items: center;
    gap: 10px;
}

.b_d_content>ul li {
    padding: 0.5rem 0.3rem;
    font-size: 1rem;
}

.b_d_content>ul li>img {
    width: 1rem;
}

.b_d_btn {
    padding: 1.5rem 0;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    display: inline-flex;
}

.banner_img {
    padding: 1rem;
}

.banner_img>img {
    width: 100%;
}

/* 
______________________________________
    we are Gamer banner Section
______________________________________
*/
.w_G_b_container {
    background: rgb(255, 66, 165, 0.04);
}

.w_Gamer_banner {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-direction: row;
}

.w_gamer_img {
    width: 57%;
    padding: 0.5rem;
}

.w_gamer_img>img {
    width: 100%;
}

.w_g_description {
    width: 43%;
}

.w_g_description {
    flex-direction: column;
    align-items: flex-end;
}


.w_g_d_content {
    text-align: end;
    font-size: small;
    line-height: 1.3rem;
    color: #534C64;
    margin: .5rem 0;
}

.w_g_d_btn {
    margin: .8rem 0;
}

.w_g_d_proverb {
    text-align: end;
    color: #534C64;
    margin: .3rem 0;
}

.w_g_d_proverb span {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2.3rem;
}

/*
______________________________________
    Funny Gameing video Section
______________________________________
*/
.g_v_head {
    text-align: center;
    margin: 1rem 0;
}

.g_v_h_description {
    text-align: center;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #534C64;
    margin: .5rem 0;
}

.g_v_c_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    justify-content: center;
    align-items: start;
    align-content: center;
    justify-items: center;
}

.g_v_card {
    width: calc((100vw / 4) - 2rem);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.g_v_c_img {
    position: relative;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
    transition: border 0.3s ease;
}

.g_v_c_img img {
    width: 100%;
    display: block;
    border-radius: inherit;
}

.g_v_c_img:hover {
    border: 2px solid #F948B2;
}

.g_v_c_img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.g_v_c_img:hover::before {
    opacity: 1;
}

.overlay-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.g_v_c_img:hover .overlay-content {
    opacity: 1;
}

.play-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5rem;
}

.watch-now {
    color: #F948B2;
    font-size: 1rem;
}

.g_v_c_img:hover {
    border: 3px solid #F948B2;
}

.g_V_C_description {
    text-align: start;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #534C64;
    margin: .5rem 0;
}

/*
______________________________________
    Sub banner-1 Section
______________________________________
*/

.s_banner_container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 4rem 0;
}

.s_b_d_1_container {
    order: 1;
}

.s_b_description {
    width: 45%;
}

.s_b_description {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: .7rem;
}

.s_b_d_1_head,
.s_b_d_1_content {
    text-align: end;
}

.s_b_1_imgs {
    order: 2;
    align-items: flex-end;
}

.s_b_imgs {
    display: flex;
    flex-direction: column;
    width: 55%;
    position: relative;
}

.s_b_img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1.1;
    overflow: hidden;
    position: relative;
    width: 80%;
    min-width: 280px;
}

.s_b_img-2 {
    display: flex;
    align-items: self-start;
    justify-content: center;
    aspect-ratio: 1 / 1.1;
    overflow: hidden;
    border: .5rem solid #ffffff;
    border-radius: .5rem;
}

.s_b_1_img-2 {
    position: absolute;
    top: 55%;
    right: 55%;
}

.s_b_img-2>img,
.s_b_img-1>img {
    width: 100%;
    object-fit: cover;
}

/*
______________________________________
    Sub banner-2 Section
______________________________________
*/
.s_b_d_2_container {
    order: 2;
}

.s_b_2_description {
    align-items: flex-start;
}

.s_b_d_2_head,
.s_b_d_2_content {
    text-align: start;
}

.s_b_2_imgs {
    order: 1;
    align-items: flex-start;
}

.s_b_2_img-2 {
    position: absolute;
    top: 55%;
    left: 55%;
}

/*
______________________________________
    Careers Section
______________________________________
*/
.career_section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: #FF42A5;
    color: white;
    padding: 5rem 0;
}

.c_d_container {
    width: 50%;
    flex-direction: column;
}

.career_discription {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.career_text {
    width: 100%;
}

.career_text p {
    color: #ffffff;
}

.career_list {
    width: 100%;
}

.job {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.see_positions {
    padding: .8rem 1.6rem;
    background-color: white;
    color: #FF42A5;
    border: none;
    border-radius: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

.career_image {
    width: 50%;
    display: flex;
    align-items: center;
}

.career_image img {
    width: 100%;
    height: auto;
}


/* responsive Layout */
/*
________________________________________
    Custom media queries for tablet
________________________________________ 
*/

@media screen and (min-width: 576px) and (max-width: 960px) {

    .banner_description {
        padding: 2rem 0;
    }

    .b_d_btn {
        padding: .5rem 0;
    }

    .w_Gamer_banner {
        flex-direction: column;
    }

    .w_gamer_img {
        width: 100%;
        padding: 0.5rem;
    }

    .w_g_description {
        width: 100%;
    }

    .w_g_description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .w_g_d_content {
        text-align: center;
        width: 85%;
    }

    .w_g_d_proverb {
        text-align: center;
    }

    .w_g_d_btn {
        margin: .8rem 0 2rem 0;
    }


    .g_v_c_container {
        grid-template-columns: repeat(2, 2fr);
    }

    .g_v_card {
        width: calc((100vw / 2) - 2rem);
    }

    .career_section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .career_text,
    .career_list,
    .career_image {
        text-align: center;
    }

    .c_d_container,
    .career_image {
        width: 100%;
    }
}

/*
________________________________________
    Custom media queries for mobile
________________________________________ 
*/

@media screen and (max-width: 576px) {
    .section_head {
        font-size: 1.7rem;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
    }

    .links>ul {
        flex-direction: column;
        gap: 1rem;
    }

    .banner {
        flex-direction: column;
    }

    .banner_description_container {
        order: 2;
    }

    .b_d_btn {
        padding: .5rem 0;
    }

    .banner_img {
        order: 1;
    }

    .banner_description_container,
    .banner_img {
        width: 100%;
    }

    .banner_description {
        padding: 1.5rem;
    }

    .w_Gamer_banner {
        flex-direction: column;
    }

    .w_gamer_img {
        width: 100%;
        padding: 0.5rem;
    }

    .w_g_description {
        width: 100%;
    }

    .w_g_description {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .w_g_d_content {
        text-align: center;
    }

    .w_g_d_proverb {
        text-align: center;
    }

    .w_g_d_btn {
        margin: .8rem 0 2rem 0;
    }

    .g_v_c_container {
        grid-template-columns: 1fr;
    }

    .g_v_card {
        width: 80vw;
    }

    .s_banner_container {
        flex-direction: column;
    }

    .s_b_imgs {
        width: 95%;
    }

    .s_b_description {
        align-items: center;
        width: 70%;
    }

    .s_b_d_1_head,
    .s_b_d_1_content,
    .s_b_d_2_head,
    .s_b_d_2_content {
        text-align: center;
    }

    .s_b_d_2_container {
        order: 1;
    }

    .s_b_2_imgs {
        order: 2;
    }

    .career_section {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .c_d_container,
    .career_image {
        width: 100%;
    }

    .job span {
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}